[submodule "DOTA_devkit"]
	path = DOTA_devkit
	url = https://github.com/ShovalMishal/DOTA_devkit.git
[submodule "single_image_bg_detector"]
	path = single_image_bg_detector
	url = https://github.com/ShovalMishal/single-image-bg-detector.git
