.idea
__pycache__
data/**
out/**
oriented_rcnn_r50_fpn_1x_dota_le90-6d2b2ce0.pth
Classifiers/lightning_logs/
Classifiers/upper_bound_output/
results
checkpoints
lightning_logs
old_results
results_for_paper/figures_for_paper/**
temp_results
results_for_paper/tt1s/**
